*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}


.h1-paginas{
text-align: center;
text-transform: uppercase;
margin: 15px;
text-decoration: solid;
font-weight: bolder;
font-size: clamp(2em, 5vw, 5em);
}

#ContainersTienda{
    box-shadow: 0 0 8px;
    width: 98%;
    background-color: white;
}
body{
    background-color: darkgoldenrod;
}

footer{
    background-color: black;
    color: white;
    max-height: 10%;
}

form{
    margin-top: 20px;
}

label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
    font-size: 24px;
    text-align: center;
}

input,
textarea{
    min-width: 30%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 24px;
    margin: bottom 10px;
    text-align: center;
    background-color: white;
}


main{
    text-align: center;
    margin: 50px;
}

h2{
text-decoration: solid;
font-weight: bolder;
font-size: clamp(2em, 2vw, 2em);
    margin: 50px;
}

h3{
    text-align: center;
    margin: 15px;
text-decoration: solid;
font-weight: bolder;
font-size: clamp(2em, 2vw, 2em);
}
p{
margin: 15px;
text-decoration: solid;
font-weight: normal;
font-size: clamp(1.2em, 1.2vw, 1.2em);
}

#galeria .col-lg-4 {
    padding: 25px;
    margin: 0 !important;
}
#galeria img{
    width: 100%;
    height: 350px;
}

#galeria img:hover{
border: 2px solid goldenrod;
}

.--container{
    text-align: center;
    margin: 15px;
text-decoration: solid;
font-weight: normal;
font-size: clamp(1.2em, 1.2vw, 1.2em);
}


#TextoFooter{
    text-align: center;
}

.d-flex{
    margin: 10px;
}


.grid-layout{
    display: grid;
    background-color: burlywood;
    border: 15px solid black;
    min-width: 50%;
    max-width: 80%;
    padding: 15px;
}

@media(max-width:500px){
    body{
background-color: rgba(253, 199, 73, 0.837);
    }
}